@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 900;
    --silver: #c8c8c8ff;
    --silver-2: #b3b3b3ff;
    --sage: #bbb891ff;
    --persian-orange: #dc965aff;
    --raisin-black: #242325ff;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- MIS CSS ----*/
* {
    box-sizing: border-box;
}
section {
    margin-bottom: 16px;
}

 body {
    font-family: "Outfit", sans-serif;
    font-weight: var(--font-light);
    background-color: white;
}


h1 {
    font-size: 35px ;
    font-weight: var(--font-regular);
}

h2 {
    font-size: 25px ;
    font-weight: var(--font-regular);
}

h3 {
    font-size: 18px ;
    font-weight: var(--font-regular);
    margin: 8px 0px 0px 16px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    margin-bottom: 24px;
    color: white;
    background-color: var(--raisin-black);
}

main{
    max-width: 100%;
    flex-grow: 1; 
    margin: 32px 32px;
}

.bienvenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 85px 0px 20px 0px;
    gap: 8px; 
    color: black
    
}

.recomendados h2 {
    margin-bottom: 8px;
}


#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 8px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    color: var(--raisin-black);
    border: 1px solid #cacaca;
    gap: 10px;
}

.card p {
    text-align: justify;
    max-width: 410px;
    margin: 0px 16px 16px 16px;
    
}

#cities {
    margin: 16px 32px 24px 0px;
    width: 100%;
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 4px;
}

